In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
crime_data = pd.read_csv('london_crime_by_lsoa.csv', encoding = 'utf-8', sep = ",")

In [4]:
crime_data.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [6]:
crime_data.borough.value_counts()

Croydon                   602100
Barnet                    572832
Ealing                    549396
Bromley                   523908
Lambeth                   519048
Enfield                   511164
Wandsworth                498636
Brent                     490644
Lewisham                  485136
Southwark                 483300
Newham                    471420
Redbridge                 445716
Hillingdon                442584
Greenwich                 421200
Hackney                   417744
Haringey                  413856
Tower Hamlets             412128
Waltham Forest            406296
Havering                  399600
Hounslow                  395928
Bexley                    385668
Camden                    378432
Westminster               366660
Harrow                    365688
Islington                 359208
Merton                    339876
Hammersmith and Fulham    328752
Sutton                    322488
Barking and Dagenham      311040
Richmond upon Thames      304128
Kensington and Chelsea    296784
Kingston upon Thames      259524
City of London              9720
Name: borough, dtype: int64

In [7]:
crime_data.major_category.value_counts()

Theft and Handling             3966300
Violence Against the Person    3171744
Criminal Damage                2069172
Drugs                          1179468
Burglary                       1043604
Robbery                         939384
Other Notifiable Offences       776304
Fraud or Forgery                236520
Sexual Offences                 108108
Name: major_category, dtype: int64

In [8]:
crime_data.minor_category.value_counts()

Other Theft                               522180
Theft From Motor Vehicle                  522180
Common Assault                            522180
Theft/Taking Of Motor Vehicle             522072
Burglary in Other Buildings               522072
Harassment                                522072
Criminal Damage To Motor Vehicle          521964
Assault with Injury                       521856
Other Criminal Damage                     521856
Possession Of Drugs                       521748
Burglary in a Dwelling                    521532
Criminal Damage To Dwelling               521424
Personal Property                         520668
Motor Vehicle Interference & Tampering    520452
Other Notifiable                          519696
Other Theft Person                        519480
Wounding/GBH                              519372
Theft/Taking of Pedal Cycle               516996
Other violence                            512028
Criminal Damage To Other Building         503928
Drug Trafficking                          490536
Offensive Weapon                          481896
Handling Stolen Goods                     426168
Business Property                         418716
Theft From Shops                          416772
Going Equipped                            256608
Other Drugs                               167184
Counted per Victim                        137916
Other Fraud & Forgery                      98604
Murder                                     92340
Other Sexual                               81108
Rape                                       27000
Name: minor_category, dtype: int64

In [9]:
crime_data.year.value_counts()

2016    1498956
2015    1498956
2014    1498956
2013    1498956
2012    1498956
2011    1498956
2010    1498956
2009    1498956
2008    1498956
Name: year, dtype: int64