# Basic Information 
Two datasets, one contains the recent 2 years data while another contains the data from 2014-2016 <br> common columns: Borough, Major Category, Minor Category<br> As the elements of 'Minor Category' are not the same, it's difficult to combine the two datasets.

In [140]:
import os
import sys
import pandas as pd
import numpy as np

In [168]:
recent = pd.read_csv('datasets/MPS Borough Level Crime (most recent 24 months).csv')
past = pd.read_csv('datasets/MPS_Borough_Level_Crime_Historic.csv')

In [51]:
recent.head()

,Borough,Major Category,Minor Category,201701,201702,201703,201704,201705,201706,201707,...,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812
0,Barking and Dagenham,Burglary,Burglary - Business and Community,25,47,44,32,29,19,42,...,38,36,24,33,30,18,33,32,39,34
1,Barking and Dagenham,Burglary,Burglary - Residential,118,124,93,101,129,71,95,...,122,75,93,77,93,84,99,94,106,163
2,Barking and Dagenham,Criminal Damage,Arson,5,5,2,13,6,14,2,...,6,3,4,12,6,5,3,8,6,1
3,Barking and Dagenham,Criminal Damage,Criminal Damage To M/V,65,62,61,61,71,59,66,...,53,64,64,67,69,42,38,42,47,34
4,Barking and Dagenham,Criminal Damage,Criminal Damage To Other Bldg,10,6,13,9,7,12,6,...,6,9,8,8,7,7,11,5,4,7

In [158]:
past.head()

,Borough,Major Category,Minor Category,200801,200802,200803,200804,200805,200806,200807,...,201603,201604,201605,201606,201607,201608,201609,201610,201611,201612
0,Barking and Dagenham,Burglary,Burglary in a Dwelling,82,71,87,74,74,103,113,...,73,47,77,63,55,54,49,60,73,100
1,Barking and Dagenham,Burglary,Burglary in Other Buildings,59,68,56,53,57,39,44,...,32,42,42,47,32,33,45,40,24,19
2,Barking and Dagenham,Criminal Damage,Criminal Damage To Dwelling,79,52,55,73,63,80,73,...,50,36,58,30,48,38,31,29,32,26
3,Barking and Dagenham,Criminal Damage,Criminal Damage To Motor Vehicle,142,138,118,158,126,96,116,...,73,61,81,73,69,68,61,69,67,59
4,Barking and Dagenham,Criminal Damage,Criminal Damage To Other Building,20,19,20,23,16,12,17,...,21,13,13,18,15,16,11,12,16,8

In [159]:
print(recent.shape)
print(history.shape)

(1050, 27)
(1056, 39)

## Delete the rows where 'Borough' is 'London Heathrow and London City Airports' as it doesn't exist in the past data

In [160]:
recent = recent.drop(recent[recent.Borough=='London Heathrow and London City Airports'].index)

## Delete the data from 2008-2014 from the past data

In [169]:
past = past.drop(past.columns[3:75], axis=1)

In [296]:
recent.to_csv('datasets/recent.csv', index=False)

In [297]:
past.to_csv('datasets/past.csv', index = False)

## Statistical information

In [181]:
recent_borough = recent.Borough.unique()

array(['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley',
       'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney',
       'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering',
       'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea',
       'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'London Heathrow and London City Airports', 'Merton', 'Newham',
       'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
       'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'],
      dtype=object)

In [184]:
past.columns

Index(['Borough', 'Major Category', 'Minor Category', '201401', '201402',
       '201403', '201404', '201405', '201406', '201407', '201408', '201409',
       '201410', '201411', '201412', '201501', '201502', '201503', '201504',
       '201505', '201506', '201507', '201508', '201509', '201510', '201511',
       '201512', '201601', '201602', '201603', '201604', '201605', '201606',
       '201607', '201608', '201609', '201610', '201611', '201612'],
      dtype='object')

In [185]:
recent.columns

Index(['Borough', 'Major Category', 'Minor Category', '201701', '201702',
       '201703', '201704', '201705', '201706', '201707', '201708', '201709',
       '201710', '201711', '201712', '201801', '201802', '201803', '201804',
       '201805', '201806', '201807', '201808', '201809', '201810', '201811',
       '201812'],
      dtype='object')

In [217]:
pd.unique(past['Minor Category'])

array(['Burglary in a Dwelling', 'Burglary in Other Buildings',
       'Criminal Damage To Dwelling', 'Criminal Damage To Motor Vehicle',
       'Criminal Damage To Other Building', 'Other Criminal Damage',
       'Drug Trafficking', 'Other Drugs', 'Possession Of Drugs',
       'Counted per Victim', 'Other Fraud & Forgery', 'Going Equipped',
       'Other Notifiable', 'Business Property', 'Personal Property',
       'Other Sexual', 'Rape', 'Handling Stolen Goods',
       'Motor Vehicle Interference & Tampering', 'Other Theft',
       'Other Theft Person', 'Theft From Motor Vehicle',
       'Theft From Shops', 'Theft/Taking Of Motor Vehicle',
       'Theft/Taking of Pedal Cycle', 'Assault with Injury',
       'Common Assault', 'Grievous Bodily Harm', 'Harassment', 'Murder',
       'Offensive Weapon', 'Other violence', 'Wounding/GBH'], dtype=object)

In [218]:
pd.unique(recent['Minor Category'])

array(['Burglary - Business and Community', 'Burglary - Residential',
       'Arson', 'Criminal Damage To M/V', 'Criminal Damage To Other Bldg',
       'Criminal Damage To a Dwelling', 'Other Criminal Damage',
       'Drug Trafficking', 'Other Drug Offences', 'Possession Of Drugs',
       'Other Fraud & Forgery', 'Going Equipped', 'Other Notifiable',
       'Business Property', 'Personal Property', 'Other Sexual', 'Rape',
       'Handling Stolen Goods', 'M/V Interference & Tampering',
       'Other Theft', 'Theft From M/V', 'Theft From Shops',
       'Theft Person', 'Theft/Taking of M/V',
       'Theft/Taking of Pedal Cycles', 'Assault with Injury',
       'Common Assault', 'Harassment', 'Murder', 'Offensive Weapon',
       'Other Violence', 'Wounding/GBH', 'Counted per Victim'],
      dtype=object)